* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

main {
  width: 500px;
  height: 540px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
}

.img-content {
  max-height: 300px;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  background-color: #eee;
  overflow: hidden;
}

.img-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.rotate-content i {
  font-size: 18px;
}

.filters-content .active {
  font-weight: bold;
}

input[type=range] {
  appearance: none;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 12.8px;
  background: #6dbdee;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #0081CF;
  cursor: pointer;
  appearance: none;
  margin-top: -3.6px;
}